@model PRACTICAL_EXAM_NET.Entities.Exam

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Exam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.classes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.classes.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subjects)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subjects.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.facultys)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.facultys.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ExamId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
