@model IEnumerable<PRACTICAL_EXAM_NET.Entities.Exam>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamDuration)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.classes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subjects)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.facultys)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamDuration)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.classes.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subjects.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.facultys.Name)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExamId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExamId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExamId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
